.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 57px;
  background-color: white;
  width: 72px;
  z-index: 200;
}

.sidebar-link{
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(228, 228, 228);
}

.sidebar-link img{
  height: 25px;
}

.sidebar-link div{
  font-family: roboto,arial;
  font-size: 10px;
  padding-top: 5px;
}

@media (min-width: 900px){
  .sidebar{
    width: 200px;
  }

  .sidebar-link{
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
  }

  .sidebar-link div{
    font-size: 14px;
  }
  .sidebar-icons{
    margin-left: 22px;
    margin-right: 20px;
  }

  body{
    padding-left: 220px;
  }
}