
    .thumbnail {
      width: 100%;
    }

    .thumbnail0{
      margin-bottom: 10px;
      position: relative;
    }

    .vid-info{
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 560;
      line-height: 14px;
    }

    .Vid-title{
      margin-bottom: 12px;
      line-height: 17px;
    }

    .vid-info-grid{
      display: grid;
      grid-template-columns: 50px 1fr;
    }

    .chan-pic{
      display: inline-block;
      position: relative;
      height: 45px;
      width: 45px;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .chan-pic1{
      width: 90%;
      border-radius: 50%;
    }

    .chan-picture{
      width: 60px;
      border-radius: 50%;
      margin-right: 12px;
    }
    .chan-pic-details{
      position: absolute;
      display: none;
      width: 210px;
      height: 80px;
      border-radius: 6px;
      box-shadow: 0 2px 3px rgba(0,0,0,0.5);
      background-color: white;
      align-items: center;
      justify-content: center;
      top: 40px;
      left: 20px;
      opacity: 0;
      transition: opacity 0.4s;
    }

    .chan-pic:hover .chan-pic-details{
      opacity: 0.9;
      top: 58px;
      left: 20px;
      display: flex;
    }

    .author,.stats{
      font-size: 12px;
      color: rgb(96,96,96);
    }

    .author{
      margin-bottom: 3px;
    }

    .Video-grid{
      display: grid;
      column-gap: 17px;
      row-gap: 40px;
    }

    @media (max-width:375px){
      .Video-grid{
        grid-template-columns: 1fr;
      }
    }

    @media (min-width:376px) and (max-width: 750px){
      .Video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (min-width:751px) and (max-width: 999px){
      .Video-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @media (min-width: 1000px){
      .Video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .video-time{
      background-color: black;
      color: white;
      position: absolute;
      bottom: 8px;
      right: 4px;
      font-size: 12px;
      font-weight: 400;
      padding: 4px;
      border-radius: 4px;
    }